<div>
    <h1>{{ '{' }}</h1>
        <div *ngFor="let item of jsonToArray" class="json-changing">
            <span style="margin-right: 1rem;">{{item[0]}}:</span>
            <ng-container *ngIf="item[1].$isDiff">
                <span   style="background-color: rgb(227, 117, 117);"  *ngIf="'oldValue' in item[1]" >{{item[1].oldValue}} </span>
                <span *ngIf="checkDiff(item[1])">⟶</span>
                <span style="background-color: rgb(114, 204, 114); padding: 1rem;" *ngIf="'newValue' in item[1]">{{item[1].newValue}}</span>
            </ng-container>


            <span *ngIf="!item[1].$isDiff">{{item[1].value}}</span>
            <span>,</span>
        </div>
    <h1>{{ '}' }}</h1>
</div>